In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
data = pd.read_csv('resources/User_Data.csv')# information d'un utilisateur:id,genre,age,salaire estimatif,purchased
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [19]:
x = data[['Age','EstimatedSalary']]# extrait l'age et le salaire: le retour est un dataframe
y = data['Purchased']

In [20]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.4)

In [32]:
from sklearn.svm import SVC
classifier = SVC(kernel='linear')

In [ ]:
classifier.fit(x_train,y_train)

In [ ]:
y_pred = classifier.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)#compare le resultat entre les valeurs predites et attendu